{% load static %}
<html>

<head>
  <title>{% block title %}{% endblock%}</title>
  <link rel="icon" href="{% static 'assets/DDTC-Logo.png' %}" type="image/x-icon">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            darkblue: "#08294c",
            cream: "#FCF2E7",
            white: "#fff",
          },
        },
      },
    };
  </script>
</head>

<body>
  {% block content %} {% endblock %}
</body>

</html>