{% extends 'base/base-dashboard.html' %}
{% load static %}
{% block title %} DDTC | Halaman Utama {% endblock title %}
{% block content %}
<div class="mt-4">
  <h2 class="text-2xl font-bold text-darkblue-700 mb-4">Personal Data Revision</h2>
  {% if notifikasi_personal %}
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Employee's Name</th>
          <th scope="col" class="px-6 py-3">Position</th>
          <th scope="col" class="px-6 py-3">Tax Consultant</th>
          <th scope="col" class="px-6 py-3">Tax Attorney</th>
          <th scope="col" class="px-6 py-3">Expired License - Attorney</th>
          <th scope="col" class="px-6 py-3">Expired License - Consultant</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Message</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <form method="POST">
          {% csrf_token %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <input type="hidden" name="personalUpdateId" value="{{ notifikasi_personal.informasi_karyawan.id }}">
              {{ notifikasi_personal.informasi_karyawan.nama }}
            </th>
            <td class="px-6 py-4">
              {{ notifikasi_personal.informasi_karyawan.jabatan }}
            </td>
            <td class="px-6 py-4">
              {{ notifikasi_personal.informasi_karyawan.status_sertifikasi }}
            </td>
            <td class="px-6 py-4">
              {{ notifikasi_personal.informasi_karyawan.status_kuasa_hukum }}
            </td>
            <td class="px-6 py-4">
              {{ notifikasi_personal.informasi_karyawan.formatted_izin_berlaku_attorney }}
            </td>
            <td class="px-6 py-4">
              {{ notifikasi_personal.informasi_karyawan.formatted_izin_berlaku_konsultan }}
            </td>
            <td class="px-6 py-4">
              <label for="underline_select" class="sr-only">Underline select</label>
              <select id="underline_select" name="status"
                class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                <option selected disabled>{{ notifikasi_personal.status }}</option>
                <option value="Accepted">Accepted</option>
                <option value="Declined">Declined</option>
              </select>
            </td>
            <td class="px-6 py-4">
              <textarea name="update_reason"
                class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                rows="3" placeholder="Masukkan alasan"></textarea>
            </td>
            <td class="px-6 py-4">
              <button type="submit"
                class="text-white bg-darkblue-700 hover:bg-darkblue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Update Status
              </button>
            </td>
        </form>
        </tr>
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    {{ detail }}
  </div>
  {% endif %}
</div>


{% if messages %}
{% for message in messages %}
<script>
  swal({
    icon: "success",
    title: "Berhasil",
    text: "{{ message }}",
  });
</script>
{% endfor %}
{% endif %}
{% endblock content %}