{% extends 'base/base-dashboard.html' %}
{% load static %}
{% block title %}
DDTC | Notifikasi
{% endblock title %}
{% block content %}


<div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <ul
    class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
    id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
    <li class="mr-2">
      <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about"
        aria-selected="true"
        class="inline-block p-4 text-blue-600 rounded-tl-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">Team
        Member</button>
    </li>
    <li class="mr-2">
      <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services"
        aria-selected="false"
        class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Project</button>
    </li>
  </ul>
  <div id="defaultTabContent">
    <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel"
      aria-labelledby="about-tab">
      <h2 class="text-2xl font-bold text-darkblue-700 mb-4">New Team Member</h2>
      {% if notifikasi %}
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Employee's Name</th>
              <th scope="col" class="px-6 py-3">Position</th>
              <th scope="col" class="px-6 py-3">Tax Consultant</th>
              <th scope="col" class="px-6 py-3">Tax Attorney</th>
              <th scope="col" class="px-6 py-3">Expired License - Attorney</th>
              <th scope="col" class="px-6 py-3">Expired License - Consultant</th>
              <th scope="col" class="px-6 py-3">Status</th>
              <th scope="col" class="px-6 py-3">Message</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for notifikasi_item in notifikasi %}
            <form method="POST">
              {% csrf_token %}
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <input type="hidden" name="nama" value="{{ notifikasi_item.informasi_karyawan.nama }}">
                  {{ notifikasi_item.informasi_karyawan.nama }}
                </th>
                <td class="px-6 py-4">
                  {{ notifikasi_item.informasi_karyawan.jabatan }}
                </td>
                <td class="px-6 py-4">
                  {{ notifikasi_item.informasi_karyawan.status_sertifikasi }}
                </td>
                <td class="px-6 py-4">
                  {{ notifikasi_item.informasi_karyawan.status_kuasa_hukum }}
                </td>
                <td class="px-6 py-4">
                  {{ notifikasi_item.informasi_karyawan.izin_berlaku_attorney }}
                </td>
                <td class="px-6 py-4">
                  {{ notifikasi_item.informasi_karyawan.izin_berlaku_konsultan }}
                </td>
                <td class="px-6 py-4">
                  <label for="underline_select" class="sr-only">Underline select</label>
                  {% if notifikasi_item.status == "Draft" %}
                  <select id="underline_select" name="status"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    <option selected disabled>{{ notifikasi_item.status }}</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Declined">Declined</option>
                    <option value="Requested for update">Requested for update</option>
                  </select>
                  {% elif notifikasi_item.status == "Requested for update" %}
                  <select id="underline_select" name="status"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                    <option selected disabled>{{ notifikasi_item.status }}</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Declined">Declined</option>
                    <option value="Requested for update">Requested for update</option>
                  </select>
                  {% endif %}
                </td>
                <td class="px-6 py-4">
                  <textarea name="update_reason"
                    class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                    rows="3" placeholder="Masukkan alasan"></textarea>
                </td>
                <td class="px-6 py-4">
                  <button type="submit"
                    class="text-white bg-darkblue-700 hover:bg-darkblue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Update Status
                  </button>
                </td>
            </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{{ detail }}</p>
        {% endif %}
      </div>
    </div>
    <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel"
      aria-labelledby="services-tab">
      <h2 class="text-2xl font-bold text-darkblue-700 mb-4">New Project</h2>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Client Name</th>
              <th scope="col" class="px-6 py-3">Services</th>
              <th scope="col" class="px-6 py-3">Fix Fee</th>
              <th scope="col" class="px-6 py-3">Success Fee</th>
              <th scope="col" class="px-6 py-3">Total Fee</th>
              <th scope="col" class="px-6 py-3">Supervisor</th>
              <th scope="col" class="px-6 py-3">Leader</th>
              <th scope="col" class="px-6 py-3">Team Member - 1</th>
              <th scope="col" class="px-6 py-3">Team Member - 2</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>


{% if messages %}
{% for message in messages %}
<script>
  swal({
    icon: "success",
    title: "Berhasil",
    text: "{{ message }}",
  });
</script>
{% endfor %}
{% endif %}

{% endblock content %}